@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
    background-color: #f5f3ed;
}

p {
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}

.node {
    cursor: pointer;
}

.node.parent circle{
    fill: #E26D5A;
    stroke: #c45d4d;
}

.node.parent text {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.node circle {
    fill: #C2DAF4;
    stroke: #a5c9f0;
    stroke-width: 2px;
}

.node text {
    text-anchor: middle;
    font: 1.1em sans-serif;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.link {
    stroke: #000;
    stroke-opacity: 0.1;
    stroke-width: 2px;
}

.link.active {
    stroke: #E26D5A;
    stroke-opacity: 0.5;
    stroke-width: 3px;
}

#displayPanel {
    width: 200px;
    height: 400px;
    position: absolute;
    margin: auto;
    top: 25px;
    right: 25px;
    border-radius: 5px;
    background-color: rgba(48, 48, 54, 0.6);
    padding-left: 20px;
    color: white;
}

#displayPanel p {
    margin-left: 20px;
    cursor: pointer;
}

#displayPanel .title {
    margin-left: 0;
    font-weight: 500;
}

#guessPanel {
    width: 200px;
    height: 400px;
    position: absolute;
    margin: auto;
    top: 25px;
    left: 25px;
    border-radius: 5px;
    background-color: rgba(48, 48, 54, 0.6);
    padding: 20px;
    color: white;
}

#guessPanel input {
    display: block;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 8px;
}

#instructionPanel {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 500px;
    left: 25px;
    border-radius: 5px;
    background-color: rgba(48, 48, 54, 0.6);
    padding: 20px;
    color: white;
}

#transformLayer {
    cursor: grab;
    pointer-events: all;
}

#transformLayer rect {
    width: 100%;
    height: 100%;
    fill: transparent;
}

#loading {
    width: max-content;
    height: 2.5rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

#loading h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
}

.incorrect {
    
}

/**
 * ==============================================
 * Dot Typing
 * taken from https://codepen.io/nzbin/pen/GGrXbp
 * ==============================================
 */
.dot-typing {
  position: relative;
  margin-top: auto;
  margin-bottom: 2px;
  left: -12px;
  top: 0;
  width: 4px;
  height: 4px;
  background-color: transparent;
  color: transparent;
  z-index: -1000;
  box-shadow: 15px 0 0 0 #000, 25px 0 0 0 #000, 35px 0 0 0 #000;
  animation: dotTyping 1s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 15px 0 0 0 #000, 25px 0 0 0 #000, 35px 0 0 0 #000;
  }
  16.667% {
    box-shadow: 15px -7px 0 0 #000, 25px 0 0 0 #000, 35px 0 0 0 #000;
  }
  33.333% {
    box-shadow: 15px 0 0 0 #000, 25px 0 0 0 #000, 35px 0 0 0 #000;
  }
  50% {
    box-shadow: 15px 0 0 0 #000, 25px -7px 0 0 #000, 35px 0 0 0 #000;
  }
  66.667% {
    box-shadow: 15px 0 0 0 #000, 25px 0 0 0 #000, 35px 0 0 0 #000;
  }
  83.333% {
    box-shadow: 15px 0 0 0 #000, 25px 0 0 0 #000, 35px -7px 0 0 #000;
  }
  100% {
    box-shadow: 15px 0 0 0 #000, 25px 0 0 0 #000, 35px 0 0 0 #000;
  }
}